<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

        <style>
            body {padding-top: 80px}
        </style>
    </head>
    
    <body>
        <div class="container">
            <div class="jumbotrom text-center">
                <h1><span class="fa fa-lock"></span>Node Authentication</h1>
                <p>Login or Registration</p>
                <a href="auth/login/github" class="btn btn-default"><span class="fa fa-user">Github Login</span></a>

                <a href="auth/login/google" class="btn btn-default"><span class="fa fa-user">Google Login</span></a>
            </div>

        </div>
    </body>
</html>