<html>
    <head>
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
            <style>
                    .btn-googleplus {
                    background: #E93F2E;
                    border-radius: 0;
                    color: #fff;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #b72213;
                    }
                    .btn-googleplus:link, .btn-googleplus:visited {
                        color: #fff;
                    }
                    .btn-googleplus:active, .btn-googleplus:hover {
                    background: #b72213;
                    color: #fff;
                    }
                    body{
                        padding-top: 80px
                    }
            
            </style>
    </head>
    <body>
        <div class="container"> <div class="jumbotron text-center">
        <a href="/auth/google" title="Google+" class="btn btn-googleplus btn-lg"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
    </div></div>
    </body>
</html>