<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapc+++++dn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

        <style>
            body {padding-top: 80px}
        </style>
    </head>
    
    <body>
        <div class="container">
            <div class="jumbotrom text-center">
    
                <img src="<%= user.profileImg %>"/>
                <h1><span class="fa fa-lock"></span><%= user.username%></h1>
                <a href="auth/logout" class="btn btn-danger"><span class="fa fa-user">Log out</span></a>
                

                <p style="margin-top: 20px">Welcome to your world <%= user.username%></p>

            </div>

        </div>
    </body>
</html>